@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.active-link {
  color: #3b82f6; /* azul */
  font-weight: 600;
  border-bottom: 2px solid #3b82f6;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
html.light {
  --background: #ffffff;
  --foreground: #171717;
}

/* Scrollbar customização para tema claro/escuro */
html.dark ::-webkit-scrollbar {
  background: #181818;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}
html.light ::-webkit-scrollbar {
  background: #f3f3f3;
}
html.light ::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 8px;
}
/* Firefox */
html.dark {
  scrollbar-color: #333 #181818;
}
html.light {
  scrollbar-color: #bbb #f3f3f3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s, color 0.3s;
}
